<form class="contact-us" (ngSubmit)="onSubmit(f)" #f="ngForm">
  <div>
    <button mat-fab color="primary" type="submit">{{ 'Save' | translate }}</button>
    <button mat-fab color="warn" type="button" (click)="onFetch()">{{ 'Fetch' | translate }}</button>
    <button mat-fab color="accent" type="button"(click)="onCancel()">{{ 'Cancel' | translate }}</button>
  </div>
  <div class="textarea-style">
      <textarea type="text" name="contact" rows="20" cols="50" placeholder="{{ 'Reservation time or personal taste preference and so on' | translate }}"  [ngModel]="contactInfo" required></textarea>
  </div>
</form>