<form class="contact-us" (ngSubmit)="onSubmit(f)" #f="ngForm">
  <div>
    <button mat-fab color="primary" type="submit">Save</button>
    <button mat-fab color="warn" type="button" (click)="onFetch()">Fetch</button>
    <button mat-fab color="accent" type="button"(click)="onCancel()">Cancel</button>
  </div>
  <div class="textarea-style">
      <textarea type="text" name="contact" rows="20" cols="50" placeholder="Reservation time or personal taste preference and so on" [ngModel]="contactInfo" required></textarea>
  </div>
</form>