@import '../../../mixin';

.dish-edit {
  top: 8.125rem;
  margin-left: 40%;
  position: absolute;

  &-row {
    padding: 1%; 

    &-name {
      padding: 1px;
    }

    &-img-responsive {
      width: 24.37em;
      height: 20em;

      @include respond(small) {
        width: 20rem;
        height: 16rem;
      }
    }
  }
}

#input {
  height: 1.56rem;
  width: 24rem;
  border-style: groove;

  @include respond(small) {
    width: 20rem;
  }
}

#description {
 height: 3.43rem;
 width: 24rem;  

 @include respond(small) {
  width: 20rem;
 }
}



input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 0.0625rem solid red;
}

.form-control {
  border-style: groove;
}