.col-new-course {
  font-family: 'Times New Roman'; 
  font-size: 18px;
  color:white;
  margin-top: 10px;
}

mat-grid-tile {
  background: lightblue;
  border-style: double;
}

#course-name {
  font-family: 'Times New Roman'; 
  font-size: 18px;
  padding-right:15px;
}

#course-desc {
  font-family: 'Times New Roman'; 
  font-size: 14px;
  padding-right:15px;
}
