@import '../../../../mixin';

.dish-name {
  font-family: 'Times New Roman'; 
  font-size: 1.125rem;
  padding-right: 0.94rem;

  @include respond(small) {
    margin-left: 0.5rem;
    font-size: 0.9rem;
  }
}

img {
  max-height: 50px;

  @include respond(small) {
    width: 0;
    height: 0;
  }
}

.dish-desc {
  font-family: 'Times New Roman'; 
  font-size: 0.875rem;
  padding-right: 0.94rem;

  @include respond(small) {
    font-size: 0;
  }
}

mat-grid-tile {
  background: lightblue;
  border-style: double;
}

a {
  color: black;
}