.mean-plan {
  font-family: 'Times New Roman';
  font-size: 20px;
}

.header {
  padding-left: 5%;
  font-family: 'Times New Roman';
  font-size: 20px;
}

.menu {
  padding: 200px;
}

.manage {
  font-size: 20px;
  font-family: 'Times New Roman';
}

a {
  text-decoration:none;
  color: white;
}

.manage-button {
  padding-left: 200px;
}

.register {
  font-family: 'Times New Roman';
  font-size: 20px;
  padding: 50px;
}

.navigation {
  font-family: 'Times New Roman';
  font-size: 20px;
  padding-left: 5%;
}

.language-menu {
  padding-left: 5%;
}

.language-zh {
  font-family: 'Times New Roman';
  font-size: 20px;
  cursor: pointer;
}

.language-en {
  font-family: 'Times New Roman';
  font-size: 20px;
  cursor: pointer;
}

.language-en:after {
  font-family: 'Times New Roman';
  font-size: 20px;
  padding: 10px;
  content: "|";
  display: inline-block;
  cursor: pointer;
}