<mat-toolbar color="primary">
  <span class="mean-plan" routerLinkActive="active"><a routerLink="/">{{ 'Meal Plan' | translate }}</a></span>
  <span class="header" routerLinkActive="active"><a routerLink="/dishes">{{ 'Dishes' | translate }}</a></span>
  <span class="header" routerLinkActive="active"><a routerLink="/preparation-list">{{ 'Preparation List' | translate }}</a></span>
  <span class="navigation" routerLinkActive="active"><a routerLink="/contact-us">{{ 'Contact Us' | translate }}</a></span>

  <span class="language">
    <span (click)="switchLanguage('en')" class="language-en">{{ 'EN' | translate }}</span>
    <span (click)="switchLanguage('zh')" class="language-zh">{{ 'ZH' | translate }}</span>
  </span>

  <span class="manage-button" *ngIf="isAuthenticated()">
    <button mat-button [matMenuTriggerFor]="manage" class="manage">{{ 'Manage' | translate }}</button>
    <mat-menu #manage="matMenu">
      <button mat-menu-item class="manage" (click)="onFetchData()">{{ 'Fetch Data' | translate }}</button>
      <button mat-menu-item class="manage" (click)="onSaveData()">{{ 'Save Data' | translate }}</button>
    </mat-menu>
    <span (click)="onLogout()" class="register" style="cursor: pointer;">{{ 'Logout' | translate }}</span>
  </span>
 
  <span class="manage-button" *ngIf="!isAuthenticated()">
    <span class="register"><a routerLink="/signup">{{ 'Register' | translate }}</a></span>
    <span class="login"><a routerLink="/signin">{{ 'Login' | translate }}</a></span>
  </span>
</mat-toolbar>