<mat-toolbar color="primary">
  <span class="mean-plan" routerLinkActive="active" i18n><a routerLink="/">Meal Plan</a></span>
  <span class="header" routerLinkActive="active" i18n><a routerLink="/dishes">Dishes</a></span>
  <span class="header" routerLinkActive="active" i18n><a routerLink="/preparation-list">Preparation List</a></span>
  <span class="navigation" routerLinkActive="active" i18n><a routerLink="/contact-us">Contact Us</a></span>

  <span class="menu" *ngIf="isAuthenticated()">
    <button mat-button [matMenuTriggerFor]="manage" class="manage" i18n>Manage</button>
    <mat-menu #manage="matMenu">
      <button mat-menu-item class="manage" (click)="onFetchData()" i18n>Fetch Data</button>
      <button mat-menu-item class="manage" (click)="onSaveData()" i18n>Save Data</button>
    </mat-menu>
    <span (click)="onLogout()" class="register" style="cursor: pointer;" i18n>Logout</span>
  </span>
 
  <span class="manage-button" *ngIf="!isAuthenticated()">
    <span class="register"><a routerLink="/signup" i18n>Register</a></span>
    <span class="register"><a routerLink="/signin" i18n>Login</a></span>
  </span>
</mat-toolbar>