#preparation-button {
  margin: 10px;
}

.input {
  border-style: groove;
}

#add-button {
  background-color: rgb(12, 139, 40);
  color: white;
}

#clear-button {
  background-color: orange;
  color: white;
}