<form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <label for="name">{{ 'Name' | translate }}</label><input type="text" class="input" name="name" ngModel required>
  <label for="weight">{{ 'Weight' | translate }}</label><input type="number" name="weight" ngModel required pattern="^[1-9]+[0-9]*$">
  <div class="preparation-button">
    <button mat-fab color="warn" [disabled]="!f.valid" *ngIf="editMode">{{ 'Update' | translate }}</button>
    <button mat-fab color="warn" [disabled]="!f.valid" *ngIf="!editMode">{{ 'Add' | translate }}</button>
    <button mat-fab class="delete-button" *ngIf="editMode" (click)="onDelete()">{{ 'Delete' | translate }}</button>
    <button mat-fab color="accent" class="clear-button" type="button" (click)="onClear()">{{ 'Clear' | translate }}</button>
  </div>
</form>