@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import 'styles/main.scss';

.sign-form  {
  margin-top: 1.9rem;
}

.sign-button-style {
  margin-top: 0.625rem;
}

.sign-button:hover {
  transform: scale(1.1) translateY(-.1rem);
  z-index: 20;
}

.form-group {
  margin: 1.25rem;
}

.input-control {
  height: 1.25rem;
  width: 40%;
  border-style: groove;
}

.clearfix {
  overflow: auto;
}

div#background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

div#background > img {
  height: 100%;
  width: 100%;
  border: 0;
  opacity: 0.3;
}

.contact-us {
  margin: 0.94rem;
  text-align: center;
}

.textarea-style {
  padding: 0.94rem; 
}