@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

.form-group {
  margin: 20px;
}

.input-control {
  height:20px;
  width: 40%;
  border-style: groove;
}

.clearfix {
  overflow: auto;
}

div#background {
  position:fixed;
  top:0;
  left:0;
  bottom:0;
  right:0;
  z-index:-1;
}

div#background > img {
  height:100%;
  width:100%;
  border:0;
  opacity: 0.3;
}