@import '../../../mixin';

.dish-start {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards;

  @include respond(tablet) {
    font-size: 0.9rem;
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(1.875rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}