.dish-detail {
  top:  100px;
  margin-left: 40%;
  position: absolute;
}

.image {
  perspective: 1000;
}

.image:hover {
  transform: rotateY(180deg);
}

.image, .image-front, .image-back {
  margin-top: 16px;
  width: 390px;
  height: 320px;
}

.image {
  transition: 2s;
  transform-style: preserve-3d;

  position: relative;
}

.image-front, .image-back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

.image-front {
  z-index: 2;
  transform: rotateY(0deg);
}

.image-back {
  transform: rotateY(180deg);
  background-image: linear-gradient(to right bottom,  #e7edf5, #9c0f05);
  text-align: center;
  color: white;
  margin-bottom: 8rem;
}

.price-only {
  font-size: 1.6rem;
  text-transform: uppercase;
}

.price-value {
  font-size: 2rem;
  font-weight: 100;
}

.reserve {
  font-size: 1.8rem;
  font-weight: 100;
}

#manage-dish {
  background-color:rgba(43, 59, 145, 0.32);
  color:black;
  height: 50px;
  width: 140px;
}

.manage {
  font-family: 'Times New Roman';
  font-size: 16px; 
}

#items-list-item {
  font-family: 'Times New Roman';
  font-size: 16px; 
  border-style: groove;
  background-color:rgba(255, 153, 0, 0.47);
  height: 35px;
  width: 160px;
}

h1:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: .5rem 1rem 2rem rgba(black, .3);
}
