@import '../../../mixin';

.dish-detail {
  top:  6.25rem;
  margin-left: 40%;
  position: absolute;
}

.image, .image-dish {
  margin-top: 1rem;
  width: 24.5rem;
  height: 20rem;

  @include respond(medium) {
    margin-top: 1.8rem;
    width: 20rem;
    height: 16rem;
  }

  @include respond(small) {
    margin-top: 2rem;
    width: 17.5rem;
    height: 14rem;
  }

  @include respond(smallest) {
    margin-top: 2rem;
    width: 7.5rem;
    height: 6rem;
  }
}

.manage {
  background-color:rgba(43, 59, 145, 0.32);
  color:black;
  height: 3.1rem;
  width: 10.25rem;
  font-size: 1.1rem; 
  font-family: 'Times New Roman';

  &-dish {
    font-size: 1rem; 
  }

  @include respond(small) {
    font-size: 1rem;
  }
}

#items-list-item {
  font-family: 'Times New Roman';
  font-size: 1rem; 
  border-style: groove;
  background-color:rgba(255, 153, 0, 0.47);
  height: 2.188rem;
  width: 10rem;
}

h1 {
  @include respond(medium) {
    margin-top: 2rem;
    font-size: 1.8rem;
  }

  @include respond(small) {
    margin-top: 2.5rem;
    font-size: 1.5rem;
  }

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: .5rem 1rem 2rem rgba(black, .3);
  }
}
