<div class="dish-detail">
  <div class="image">
    <img class="image-dish" [src]="dish.imagePath" alt="{{ dish.name }}">
  </div>
  <h1>{{ dish.name }}</h1>
  <button mat-button [matMenuTriggerFor]="menu" class="manage">{{ 'Manage Dish' | translate }}</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item id="manage-dish" (click)="addIngredientsToList()">{{ 'To Preparation List' | translate }}</button>
    <button mat-menu-item id="manage-dish" (click)="onEditDish()">{{ 'Edit Dish' | translate }}</button>
    <button mat-menu-item id="manage-dish" (click)="onDeleteDish()">{{ 'Delete Dish' | translate }}</button>
  </mat-menu>
  <div>
    <mat-list>
      <mat-list-item id="items-list-item" *ngFor="let ingredient of dish.ingredients">
        {{ ingredient.name }} - {{ ingredient.weight }}
      </mat-list-item>
    </mat-list>
  </div>
</div>
