.dish-detail {
  top:  6.25rem;
  margin-left: 40%;
  position: absolute;
}

.image {
  perspective: 1000;
  transition: 2s;
  transform-style: preserve-3d;
  position: relative;
  
  &:hover {
    transform: rotateY(180deg);
  }

  &-front {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    transform: rotateY(0deg);
  }

  &-back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(180deg);
    background-image: linear-gradient(to right bottom,  #e7edf5, #9c0f05);
    text-align: center;
    color: white;
    margin-bottom: 8rem;
  }
}

.image, .image-front, .image-back {
  margin-top: 1rem;
  width: 24.375rem;
  height: 20rem;
}

.price-only {
  font-size: 1.6rem;
  text-transform: uppercase;
}

.price-value {
  font-size: 2rem;
  font-weight: 100;
}

.book {
  font-size: 1.8rem;
  font-weight: 100;
}

.manage {
  background-color:rgba(43, 59, 145, 0.32);
  color:black;
  height: 3.125rem;
  width: 8.75rem;

  &-dish {
    font-family: 'Times New Roman';
    font-size: 1rem; 
  }
}

#items-list-item {
  font-family: 'Times New Roman';
  font-size: 1rem; 
  border-style: groove;
  background-color:rgba(255, 153, 0, 0.47);
  height: 2.188rem;
  width: 10rem;
}

h1:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: .5rem 1rem 2rem rgba(black, .3);
}
